---
export const prerender = true;

import MainLayout from "@layouts/MainLayout.astro";
import EventList from "@ui/EventList.astro";
import { getEvents } from "@lib/directus/queries";
import Container from "@ui/Container.astro";
import Section from "@ui/Section.astro";
import PageHeader from "@ui/PageHeader.astro";

const events = await getEvents();

const eventList = events.map((event) => ({
  key: event.id,
  label: event.name,
  href: `/area/events/${event.id}`,
  date: event.start,
  subtitle: event.description,
}));
---

<MainLayout
  seo={{
    title: "Community Events",
    description: `Explore upcoming community events in our area, from local gatherings to special activities. Stay connected and engaged with your neighborhood.`,
  }}
>
  <PageHeader
    breadcrumbs={[
      { label: "Home", href: "/" },
      { label: "Area and Community", href: "/area" },
    ]}
    title="Events"
    subtitle="Public community events and activities"
  />
  <Container>
    <Section>
      <EventList items={eventList} />
    </Section>
    <Section />
  </Container>
</MainLayout>
