@import "tailwindcss";

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

html {
  scroll-behavior: smooth;
}

@theme {
  --color-cinder-50: #323b4a;
  --color-cinder-100: #2f3847;
  --color-cinder-200: #2b3241;
  --color-cinder-300: #272c3b;
  --color-cinder-400: #232735;
  --color-cinder-500: #1f212f;
  --color-cinder-600: #1b1c29;
  --color-cinder-700: #171723;
  --color-cinder-800: #13131c;
  --color-cinder-900: #100f16;
  --color-cinder-950: #0e0d13;
  --color-cinder: #0e0d13;

  --font-sans:
    var(--font-lato), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --shadow-focus-inset:
    inset 0 0 0 4px #80a1e8, inset 0 0 0 6px #0044d7, inset 0 0 0 8px #fff;
}

@theme inline {
  --font-display: var(--font-sans);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  html {
    font-size: 16px;
    font-weight: 300;
  }

  body {
    margin: 0;
  }
}

.back-to-top.show {
  @apply opacity-100 transform translate-y-0 pointer-events-auto;
}

@layer base {
  h1 {
    @apply text-4xl md:text-5xl font-semibold;
    font-family: var(--font-display), sans-serif;
  }

  h2 {
    @apply text-3xl md:text-4xl font-semibold;
    font-family: var(--font-display), sans-serif;
  }

  h3 {
    @apply text-2xl md:text-3xl font-semibold;
    font-family: var(--font-display), sans-serif;
  }

  h4 {
    @apply text-xl md:text-2xl font-semibold;
    font-family: var(--font-display), sans-serif;
  }

  h5 {
    @apply text-lg md:text-xl font-normal;
    font-family: var(--font-display), sans-serif;
  }

  h6 {
    @apply text-lg font-light;
    font-family: var(--font-display), sans-serif;
  }

  .nc-display {
    font-family: var(--font-display), sans-serif;
  }

  html {
    @apply font-sans text-slate-800 dark:text-slate-300 dark:bg-cinder-800;
  }

  a:not(.nc-link-within),
  .nc-link-within-target,
  .nc-link-color {
    @apply text-sky-700 hover:text-sky-800 dark:text-sky-500 dark:hover:text-sky-300;
  }

  .nc-link-within {
    @apply text-inherit;

    &:focus {
      box-shadow:
        0 -2px #fd0,
        0 4px #0b0c0c;
    }
  }

  ul.nc-page-tabs {
    @apply flex flex-col md:flex-row items-center md:items-start list-none p-0 m-0 -mx-4 -mb-6;

    li {
      @apply p-0 w-full md:w-fit;

      a {
        @apply text-lg font-medium px-4 py-2 block hover:bg-gray-50 hover:underline border-b-1 md:border-0 border-gray-200 dark:border-gray-800;
      }

      a.active {
        @apply bg-white text-inherit hover:no-underline;
      }
    }
  }

  .nc-tag {
    @apply text-base font-medium no-underline bg-gray-200 text-gray-900 py-2 px-3 capitalize hover:bg-gray-300;
  }

  .nc-focus,
  .nc-link-within:focus {
    @apply hover:decoration-2 focus-within:bg-amber-300 focus-within:text-black focus-within:no-underline underline underline-offset-4;
  }

  .nc-focus-outline {
    @apply underline-offset-4 hover:underline focus:underline active:text-black transition-discrete duration-100 outline-amber-300/0 outline-0 focus:outline-4 focus:outline-amber-300 focus:outline-offset-0;
  }

  .nc-link {
    @apply underline underline-offset-4;

    &:focus {
      box-shadow:
        0 -2px #fd0,
        0 4px #0b0c0c;
    }
  }

  .bg1 {
    a,
    a:hover {
      @apply text-inherit;
    }
    @apply text-white bg-sky-800 dark:bg-cinder-700;
  }

  .bg2 {
    @apply bg-gray-100 dark:bg-cinder-600;
  }

  .form {
    @apply flex flex-col gap-4 md:max-w-lg max-w-full;
  }

  .field {
    @apply flex flex-col gap-2 w-full;
  }

  .field-error {
    @apply text-base text-red-500 dark:text-red-400;
  }

  .label {
    @apply text-lg;
  }

  .input {
    @apply bg-white  appearance-none box-border text-base font-normal h-10 leading-tight w-full mt-0 py-2 px-3 border-2 border-solid border-cinder-700;
    @apply dark:bg-cinder-500 dark:border-cinder-100;
    @apply max-w-full rounded-xs;
  }

  .input-error {
    @apply border-red-400 dark:border-red-400;
  }

  .input[disabled] {
    @apply border-gray-300 dark:border-cinder-100 cursor-not-allowed;
  }

  .input:focus {
    @apply shadow-[inset_0_0_0_2px] outline-offset-2 outline-amber-300 outline outline-4;
    @apply shadow-cinder-600 dark:shadow-sky-200;
  }

  .button {
    @apply shadow rounded outline-amber-300/0;
    @apply outline-offset-2 outline outline-0 transition-all duration-100;
    @apply text-lg justify-center items-center whitespace-nowrap box-border cursor-pointer inline-flex font-normal leading-tight relative text-center align-top w-full px-3 py-2;
  }

  .button.primary {
    @apply bg-blue-600 hover:bg-blue-700 text-white hover:text-white dark:bg-blue-900;
    &:focus {
      @apply shadow-blue-900 dark:shadow-sky-200;
    }
    &[disabled] {
      @apply bg-gray-300 dark:bg-cinder-100 text-gray-600 dark:text-gray-400 cursor-not-allowed shadow-none;
    }
  }

  .button.danger {
    @apply bg-red-600 hover:bg-red-700 text-white hover:text-white dark:bg-red-900;
    &:focus {
      @apply shadow-red-900 dark:shadow-red-900;
    }
  }

  .button.search {
    @apply bg-gray-100 shadow-2xs text-gray-900 hover:text-gray-900 border-2 border-gray-400  hover:bg-gray-300;
    @apply dark:text-gray-100 dark:bg-cinder-200 dark:hover:bg-cinder-100;
  }

  .button[disabled] {
    @apply bg-gray-300 dark:bg-cinder-100 text-gray-600 hover:text-gray-600 dark:hover:text-gray-400 dark:text-gray-400 cursor-not-allowed;
  }

  .button:focus {
    @apply shadow-[inset_0_0_0_2px] outline-4 outline-amber-300;
  }

  .top-button {
    cursor: pointer;
    @apply hover:underline;
  }
}
