@import "tailwindcss";

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

@theme {
  --color-cinder-50: #323b4a;
  --color-cinder-100: #2f3847;
  --color-cinder-200: #2b3241;
  --color-cinder-300: #272c3b;
  --color-cinder-400: #232735;
  --color-cinder-500: #1f212f;
  --color-cinder-600: #1b1c29;
  --color-cinder-700: #171723;
  --color-cinder-800: #13131c;
  --color-cinder-900: #100f16;
  --color-cinder-950: #0e0d13;
  --color-cinder: #0e0d13;

  --font-sans:
    var(--font-lato), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --shadow-focus-inset:
    inset 0 0 0 4px #80a1e8, inset 0 0 0 6px #0044d7, inset 0 0 0 8px #fff;
}

@theme inline {
  --font-display: var(--font-sans);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  html {
    font-size: 16px;
    font-weight: 300;
  }

  body {
    margin: 0;
  }
}

@layer base {
  h1 {
    @apply text-4xl md:text-5xl font-semibold;
    font-family: var(--font-display), sans-serif;
  }

  h2 {
    @apply text-3xl md:text-4xl font-semibold;
    font-family: var(--font-display), sans-serif;
  }

  h3 {
    @apply text-2xl md:text-3xl font-semibold;
    font-family: var(--font-display), sans-serif;
  }

  h4 {
    @apply text-xl md:text-2xl font-semibold;
    font-family: var(--font-display), sans-serif;
  }

  h5 {
    @apply text-lg md:text-xl font-normal;
    font-family: var(--font-display), sans-serif;
  }

  h6 {
    @apply text-lg font-light;
    font-family: var(--font-display), sans-serif;
  }

  .nc-display {
    font-family: var(--font-display), sans-serif;
  }

  html {
    @apply font-sans text-slate-800 dark:text-slate-300 dark:bg-cinder-800;
  }

  a {
    @apply text-sky-700 hover:text-sky-800 dark:text-sky-500 dark:hover:text-sky-300;
  }

  ul.nc-page-tabs {
    @apply flex flex-col md:flex-row items-center md:items-start list-none p-0 m-0 -mx-4 -mb-6;
    padding-bottom: 4px;

    li {
      @apply p-0;

      &.active {
        @apply border-b-2 border-yellow-300;
        box-shadow: 0 4px currentColor;

        a {
          @apply text-current;
        }
      }

      a {
        @apply text-lg font-medium px-4 py-2 block no-underline!;
      }
    }
  }

  .nc-tag {
    @apply text-base font-medium no-underline bg-gray-200 text-gray-900 py-2 px-3 capitalize hover:bg-gray-300;
  }

  .nc-focus {
    @apply hover:decoration-2 focus-within:bg-yellow-300 focus-within:text-black focus-within:no-underline underline underline-offset-4;
  }

  .nc-focus-outline {
    @apply focus:underline focus:outline-offset-2 focus:outline-amber-300 focus:outline focus:outline-4;
  }

  .nc-link {
    @apply underline underline-offset-4;

    &:focus {
      box-shadow:
        0 -2px #fd0,
        0 4px #0b0c0c;
    }
  }

  .bg1 {
    a {
      @apply text-white;
    }
    @apply text-white bg-sky-800 dark:bg-cinder-700;
  }

  .bg2 {
    @apply bg-gray-100 dark:bg-cinder-600;
  }

  .form {
    @apply flex flex-col gap-4 md:max-w-lg max-w-full;
  }

  .field {
    @apply flex flex-col gap-2 w-full;
  }

  .label {
    @apply text-lg;
  }

  .input {
    @apply bg-white dark:bg-cinder-600 appearance-none box-border text-base font-normal h-10 leading-tight w-full mt-0 py-2 px-3 rounded-none border-2 border-solid border-cinder-600 dark:border-sky-200;
    @apply max-w-full;
  }

  .input[disabled] {
    @apply border-gray-300 dark:border-cinder-100 cursor-not-allowed;
  }

  .input:focus {
    @apply shadow-[inset_0_0_0_2px] shadow-cinder-600 outline-offset-2 outline-amber-300 outline outline-4;
    @apply dark:shadow-sky-200;
  }

  .button {
    @apply bg-blue-600 hover:bg-blue-700 whitespace-nowrap box-border text-white cursor-pointer inline-block text-base font-normal leading-tight relative text-center align-top w-full px-3 py-2 rounded-none border-2 border-solid border-transparent;
    @apply dark:bg-blue-900 text-lg;
  }

  .button:focus {
    @apply shadow-[inset_0_0_0_2px] shadow-cinder-600 outline-offset-2 outline-amber-300 outline outline-4;
    @apply dark:shadow-sky-200;
  }

  .top-button {
    cursor: pointer;
    @apply hover:underline;
  }
}
