---
export const prerender = true;

import MainLayout from "@layouts/MainLayout.astro";
import PageHeader from "@ui/PageHeader.astro";
import Container from "@ui/Container.astro";
import Section from "@ui/Section.astro";
import SectionHeader from "@ui/SectionHeader.astro";
---

<MainLayout>
  <PageHeader
    title="Join"
    subtitle="Become a member"
    breadcrumbs={[
      { label: "Home", href: "/" },
      { label: "Association", href: "/association" },
      { label: "Join", href: "/association/join", active: true },
    ]}
  />
  <Container>
    <Section>
      <SectionHeader>Why join?</SectionHeader>
      <div class="max-w-prose">
        <p>
          Becoming a member of the NCRA not only helps cover the costs of our
          activities but gives you access to our historic archive of news,
          articles, meeting minutes and more.
        </p>
      </div>
    </Section>
  </Container>
</MainLayout>
