---
import Todo from "../../components/ui/Todo.astro";
export const prerender = false;

import MainLayout from "@layouts/MainLayout.astro";
import PageHeader from "@ui/PageHeader.astro";
import Container from "@ui/Container.astro";
import Section from "@ui/Section.astro";
import SectionHeader from "@ui/SectionHeader.astro";
import { PUBLIC_DIRECTUS_URL } from "astro:env/client";
import { ExternalLink } from "@lucide/astro";
import Sidenav from "../../components/ui/Sidenav.astro";

const nav: { href: string; label: string }[] = [
  { href: `#details`, label: "Details" },
  { href: `#subscription`, label: "Subscription" },
  { href: `#contact`, label: "Contact Preferences" },
];
---

<MainLayout>
  <PageHeader
    title="Manage your membership"
    subtitle="mail@eknowles.com"
    breadcrumbs={[
      { label: "Home", href: "/" },
      { label: "Association", href: "/association" },
      { label: "Membership", href: "/association/membership", active: true },
    ]}
  />

  <Container classes="mb-20 lg:grid grid-cols-4 gap-20">
    <div class="relative">
      <Sidenav items={nav} />
    </div>

    <div class="col-span-3">
      <Section>
        <SectionHeader id="details">Details</SectionHeader>
        <p>
          Your personal information is private. We use this information to
          validate billing details, send you annual newsletters and special
          correspondence. To learn more about this, please read our <a
            href="/privacy-policy"
            class="nc-link nc-focus">privacy policy</a
          >.
        </p>
      </Section>
      <Section>
        <SectionHeader id="subscription">Subscription</SectionHeader>
        <script is:inline async src="https://js.stripe.com/v3/pricing-table.js"
        ></script>
        <stripe-pricing-table
          pricing-table-id="prctbl_1R3mLvAU1zXBKkuzPteg86fT"
          publishable-key="pk_test_51QOb5oAU1zXBKkuzbyoxNfzhVLUu50qx2KlS3Iz2ogKoMBZ2p18zhMzXD0ugJgiL6ZRrZOC5g0UhM9JJ1zizLrcu00VXf53MfO"
        >
        </stripe-pricing-table>
      </Section>
      <Section>
        <SectionHeader id="contact">Contact Preferences</SectionHeader>
      </Section>
    </div>
  </Container>
</MainLayout>
