---
import "@styles/global.css";

import Head from "@ui/Head.astro";
import SiteHeader from "@ui/SiteHeader.astro";
import SectionHeader from "../ui/SectionHeader.astro";
import Container from "../ui/Container.astro";
import Section from "../ui/Section.astro";
import Footer from "../ui/Footer.astro";

export interface Props {
  header?: string;
}

const { header } = Astro.props;
---

<html lang="en" data-mode="light">
  <head>
    <Head />
  </head>
  <body>
    <div class="fold-sentinel"></div>
    <div id="vtop" class="flex flex-col min-h-screen">
      <SiteHeader isOpen />
      <main class="bg2 grow">
        <Container>
          {
            header ? (
              <Section>
                <>
                  <SectionHeader>{header}</SectionHeader>
                  <slot />
                </>
              </Section>
            ) : (
              <slot />
            )
          }

          <Section />
        </Container>
      </main>
      <Footer showFeedback={false} showLinks={false} />
    </div>
  </body>
</html>
