---
import Head from "@ui/Head.astro";
import SiteHeader from "@ui/SiteHeader.astro";
import "@styles/global.css";
import SectionHeader from "../ui/SectionHeader.astro";

export interface Props {
  header: string;
}

const { header } = Astro.props;
---

<html lang="en" data-mode="light">
  <head>
    <Head />
  </head>
  <body>
    <div id="vtop" class="flex flex-col min-h-screen">
      <SiteHeader isOpen />
      <main class="bg2 grow">
        <div class="max-w-lg mx-auto px-2 py-16">
          <SectionHeader>{header}</SectionHeader>
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>
