---
import Footer from "@ui/Footer.astro";
import Head from "@ui/Head.astro";
import SiteHeader from "@ui/SiteHeader.astro";
import "@styles/global.css";
---

<html lang="en" data-mode="light">
  <head>
    <Head />
  </head>
  <body>
    <div id="vtop" class="flex flex-col min-h-screen">
      <SiteHeader isOpen>
        <slot />
      </SiteHeader>
      <Footer />
    </div>
  </body>
</html>
