---
import Footer from "@ui/Footer.astro";
import Head from "@ui/Head.astro";
import Navigation from "@ui/Navigation.astro";
import SiteHeader from "@ui/SiteHeader.astro";
import "@styles/global.css";
import { type SEOProps } from "astro-seo";

export interface Props {
  seo: SEOProps;
}

const { seo = {} } = Astro.props;
---

<html lang="en" data-mode="light">
  <head>
    <Head seo={seo} />
  </head>
  <body>
    <div id="vtop" class="flex flex-col min-h-screen">
      <SiteHeader transition:persist />
      <Navigation transition:persist />
      <main class="grow">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
