---
import Footer from "../ui/Footer.astro";
import Head from "../ui/Head.astro";
import Navigation from "../ui/Navigation.astro";

import "./src/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <Head />
  </head>
  <body>
    <div id="vtop" class="flex flex-col min-h-screen">
      <Navigation global={global} />
      <div class="grow">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
