---
import Container from "../components/ui/Container.astro";
import PostList from "../components/ui/PostList.astro";
import PageHeader from "../components/ui/PageHeader.astro";
import { getPosts } from "../lib/directus/queries";
import MainLayout from "../components/layouts/MainLayout.astro";

const posts = await getPosts("newsmail");
---

<MainLayout>
  <PageHeader
    title="News"
    tabs={[
      { label: "All", href: "/news" },
      { label: "Public", href: "/news?type=newsmail" },
      { label: "For Residents", href: "/news?type=groupmail" },
    ]}
  />

  <Container classes="flex flex-col gap-2 my-6">
    {
      posts.length > 0 ? (
        <PostList grid={5} posts={posts} />
      ) : (
        <div>No posts found.</div>
      )
    }
  </Container>
</MainLayout>
