---
export const prerender = true;

import Container from "../components/ui/Container.astro";
import PostList from "../components/ui/PostList.astro";
import PageHeader from "../components/ui/PageHeader.astro";
import MainLayout from "../components/layouts/MainLayout.astro";

import { getPosts } from "../lib/directus/queries";

const posts = await getPosts("newsmail");
---

<MainLayout>
  <PageHeader title="News" />

  <Container classes="flex flex-col gap-2 my-6 max-w-lg">
    {
      posts.length > 0 ? (
        <PostList grid={1} vertical={false} posts={posts} />
      ) : (
        <div>No posts found.</div>
      )
    }
  </Container>
</MainLayout>
