---
import MainLayout from "@layouts/MainLayout.astro";
import PageHeader from "@ui/PageHeader.astro";
import { tabsAssociation } from "@/const";
import Section from "@ui/Section.astro";
import Container from "@ui/Container.astro";
import LinkCards from "@ui/LinkCards.astro";

const archiveCards = [
  {
    heading: "Emails",
    message:
      "Collection of Newsmails and Groupmails including those sent during COVID-19 lockdowns.",
    href: "/ra/archive/emails",
  },
  {
    heading: "Minutes",
    message:
      "Downloadable minutes from the residents association's annual general meetings (AGM).",
    href: "/ra/archive/minutes",
  },
];
---

<MainLayout
  seo={{
    title: "Archive",
    description:
      "Explore the archive of the Residents Association, including emails and minutes from past meetings.",
  }}
>
  <PageHeader
    title="Archive"
    breadcrumbs={[
      { label: "Home", href: "/" },
      { label: "Association", href: "/ra" },
    ]}
    tabs={tabsAssociation}
  />
  <Container>
    <Section>
      <LinkCards cards={archiveCards} />
    </Section>
    <Section />
  </Container>
</MainLayout>
