---
import MainLayout from "@layouts/MainLayout.astro";
import PageHeader from "@ui/PageHeader.astro";
import { tabsAssociation } from "@/const";
import Section from "@ui/Section.astro";
import Container from "@ui/Container.astro";
import LinkCards from "@ui/LinkCards.astro";

const archiveCards = [
  {
    heading: "Emails",
    message: "Archive of all emails sent by the association.",
    href: "/ra/archive/emails",
  },
];
---

<MainLayout>
  <PageHeader
    title="Archive"
    breadcrumbs={[
      { label: "Home", href: "/" },
      { label: "Association", href: "/ra" },
      { label: "Archive", href: "/ra/archive", active: true },
    ]}
    tabs={tabsAssociation}
  />
  <Container>
    <Section>
      <LinkCards cards={archiveCards} />
    </Section>
    <Section />
  </Container>
</MainLayout>
