---
export const prerender = true;

import AccountLayout from "@layouts/AccountLayout.astro";
---

<AccountLayout header="Check Your Email">
  <p class="text-lg leading-loose">
    We've sent you a special link. <br />Please check your email for
    instructions on how to continue.
  </p>
  <h4 class="mt-10">I know my login</h4>
  <ul class="my-2">
    <li>
      <a href="/account/signin" class="nc-link nc-focus text-lg"
        >Sign in with email and password</a
      >
    </li>
  </ul>
</AccountLayout>
