---
export const prerender = false;

import AccountLayout from "@layouts/AccountLayout.astro";
import { logout } from "@/lib/auth";

// todo this isn't always working?
logout(Astro.cookies);
---

<AccountLayout header="Deletion in progress">
  <p class="max-w-prose text-lg leading-relaxed mb-8">
    It can take up to 24 hours for your data to be fully deleted. <br /> You will
    not be able to access your account during this time. <br /> You will not receive
    any further emails from us.
  </p>
  <a href="/" class="mt-10 nc-link nc-focus text-lg">Return home</a>
</AccountLayout>
