---
export const prerender = true;

import AccountLayout from "@layouts/AccountLayout.astro";
---

<AccountLayout header="Check Your Email">
  <p class="text-lg leading-loose">
    We've sent you a special link. <br />Check your email for instructions on
    how to verify your account.
  </p>
</AccountLayout>
