---
import { actions } from "astro:actions";
export const prerender = false;

import AccountLayout from "@layouts/AccountLayout.astro";

const result = Astro.getActionResult(actions.auth.sendPasswordResetEmail);

let errors: string[] = [];
if (result && result.error) {
  errors = [result.error.message];
}

if (result?.data?.success) {
  return Astro.redirect("/account/check-email");
}
---

<AccountLayout
  header="Enter the email address associated with your North Cray account"
>
  <form class="form" method="POST" action={actions.auth.sendPasswordResetEmail}>
    <div class="field">
      <p>To confirm it is your email address we will send you a code.</p>
    </div>
    <div class="field">
      <label class="label" for="email">Email</label>
      <input
        id="email"
        name="email"
        type="email"
        required
        class="input"
        placeholder="someone@example.com"
        autocomplete="email"
      />
    </div>
    <button class="mt-4 button sm:max-w-fit" type="submit"
      >Send reset email</button
    >
  </form>
</AccountLayout>
