---
import { actions } from "astro:actions";
export const prerender = false;

import AccountLayout from "@layouts/AccountLayout.astro";
import Field from "@ui/form/Field.astro";

const result = Astro.getActionResult(actions.auth.sendPasswordResetEmail);

if (result?.data?.success) {
  return Astro.redirect("/account/check-email");
}
---

<AccountLayout
  header="Enter the email address associated with your North Cray account"
>
  <form class="form" method="POST" action={actions.auth.sendPasswordResetEmail}>
    <div class="field">
      <p>To confirm it is your email address we will send you a code.</p>
    </div>
    <Field
      label="Email"
      name="email"
      type="email"
      required
      placeholder="someone@example.com"
      autocomplete="email"
    />
    <button class="button primary mt-4 sm:max-w-fit" type="submit"
      >Send reset email</button
    >
  </form>
  <h4 class="mt-10">I know my login</h4>
  <ul class="my-2">
    <li>
      <a href="/account/signin" class="nc-link nc-focus text-lg"
        >Sign in with email and password</a
      >
    </li>
  </ul>
</AccountLayout>
