---
export const prerender = false;

import { passwordRequest } from "@directus/sdk";
import { createDirectusClient } from "../../lib/directus";

import AccountLayout from "@layouts/AccountLayout.astro";
const directus = createDirectusClient();

if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    const email = formData.get("email")?.toString();

    if (email) {
      await directus.request(
        passwordRequest(email, `${Astro.url.origin}/account/reset-password`),
      );
    }
  } catch (error) {
    console.error("Forgot password error:", error);
  }
}
---

<AccountLayout header="Forgot Password">
  <form class="form" method="POST">
    <div class="field">
      <label class="label" for="email">Email</label>
      <input
        id="email"
        name="email"
        type="email"
        required
        class="input"
        placeholder="someone@example.com"
        autocomplete="email"
      />
    </div>
    <button class="mt-4 button sm:max-w-fit" type="submit"
      >Send reset email</button
    >
  </form>
</AccountLayout>
