---
export const prerender = false;

import { actions } from "astro:actions";
import AccountLayout from "@layouts/AccountLayout.astro";

const result = Astro.getActionResult(actions.identifyUser);

if (result && !result.error) {
  const { userExists, email } = result.data;
  const search = `email=${encodeURIComponent(email)}`;
  if (userExists) {
    return Astro.redirect(`/account/signin?${search}`); // url encode
  } else {
    return Astro.redirect(`/account/register?${search}`);
  }
}
---

<AccountLayout header="Get Started">
  <form class="form" method="POST" action={actions.identifyUser}>
    <div class="field">
      <label class="label" for="email">Email</label>
      <input
        id="email"
        name="email"
        type="email"
        required
        class="input"
        placeholder="someone@example.com"
        autocomplete="email"
      />
    </div>
    <button class="mt-4 button sm:max-w-fit" type="submit">Next</button>
  </form>
</AccountLayout>
