---
import Alert from "../../components/ui/Alert.astro";
export const prerender = false;

import { passwordReset } from "@directus/sdk";
import { createDirectusClient } from "@lib/directus";
import AccountLayout from "@layouts/AccountLayout.astro";

const directus = createDirectusClient();

const searchParams = new URL(Astro.request.url).searchParams;
const token = searchParams.get("token");

const errors = [];

if (!token) {
  errors.push("Missing token, click the link in the email again.");
}

if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    const password = formData.get("password");
    const token = formData.get("token");

    if (!password || !token) {
      throw new Error("Password and token are required.");
    }

    await directus.request(passwordReset(token as string, password as string));
  } catch (e) {
    const error = e as Error & { errors?: { message: string }[] };
    if (error.errors) {
      errors.push(...error.errors.map((err) => err.message));
    }
    console.error("Forgot password error:", error);
  }
}
---

<AccountLayout header="Reset Password">
  {errors.length > 0 && <Alert errors={errors} />}
  <form class="form" method="POST">
    <input hidden name="token" value={token} />
    <div class="field">
      <label class="label" for="password">New Password</label>
      <input
        id="password"
        name="password"
        type="password"
        required
        class="input"
        placeholder="Enter a secure password"
        autocomplete="new-password"
      />
    </div>
    <div class="field">
      <label class="label" for="confirm_password">Confirm Password</label>
      <input
        id="confirm_password"
        name="confirm_password"
        type="password"
        required
        class="input"
        placeholder="Enter the password again"
        autocomplete="new-password"
      />
    </div>
    <button class="mt-4 button sm:max-w-fit" type="submit">Reset</button>
  </form>
</AccountLayout>
