---
export const prerender = false;

import { actions, isActionError, isInputError } from "astro:actions";
import AccountLayout from "@layouts/AccountLayout.astro";
import Alert from "@ui/Alert.astro";
import Field from "@ui/form/Field.astro";

const searchParams = new URL(Astro.request.url).searchParams;
const token = searchParams.get("token");

const result = Astro.getActionResult(actions.auth.passwordReset);
const inputErrors = isInputError(result?.error) ? result.error.fields : {};
const actionError = isActionError(result?.error) ? result.error.message : false;
const actionSuccess = result?.data?.success;
---

<AccountLayout header="Reset Password">
  {actionError && <Alert errors={[actionError]} />}
  <form class="form" method="POST" action={actions.auth.passwordReset}>
    {
      inputErrors.token && (
        <Alert
          errors={[
            "Reset token is missing or has expired, please check the click the link in your email again",
          ]}
        />
      )
    }
    <input hidden name="token" value={token} />

    <Field
      label="New Password"
      name="password"
      type="password"
      required
      errors={inputErrors}
      placeholder="Enter a secure password"
      autocomplete="new-password"
    />
    <Field
      label="Confirm Password"
      name="confirm_password"
      type="password"
      required
      errors={inputErrors}
      placeholder="Enter the password again"
      autocomplete="new-password"
    />
    <button class="button primary mt-4 sm:max-w-fit" type="submit">Reset</button
    >
  </form>
  <h4 class="mt-10">Problem resetting password</h4>
  <ul class="my-2">
    <li>
      <a href="/account/forgot-password" class="nc-link nc-focus text-lg"
        >Request a new reset token</a
      >
    </li>
  </ul>
</AccountLayout>
