---
import { LogOut, User } from "@lucide/astro";
import { loggedInPath } from "@/const";
import { TOKEN_COOKIE } from "@/lib/auth";

const userSession = Astro.cookies.get(TOKEN_COOKIE);
const hasCookie = userSession && !!userSession;

const { isOpen = false } = Astro.props;
---

<div class="gap-2 flex">
  <a
    href={loggedInPath}
    class:list={[
      "nc-focus-outline py-1 px-2 flex items-center gap-2",
      isOpen ? "bg2" : "hover:bg-blue-50 hover:text-black",
    ]}
  >
    <User />
    <span>My Account</span></a
  >
  {
    hasCookie && (
      <a
        data-astro-reload
        href="/logout"
        class:list={[
          "nc-focus-outline py-1 px-2 flex items-center gap-2 text-white hover:bg-blue-50 hover:text-black",
        ]}
      >
        <LogOut />
        <span>Sign out</span>
      </a>
    )
  }
</div>
