---
import Container from "./Container.astro";
---

<section class="hidden bg-amber-300">
  <Container>
    <div class="flex flex-col gap-4 py-4 text-lg max-w-3xl">
      <div class="nc-display font-bold text-3xl">Important Announcement!</div>
      <div class="grow flex flex-col gap-4">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          mattis sapien eu lacus congue, id venenatis erat luctus. Fusce
        </div>

        <div>Take Action</div>
      </div>
    </div>
  </Container>
</section>
