---
import Container from "./Container.astro";
import { ExternalLink } from "@lucide/astro";
import PageFeedbackForm from "./PageFeedbackForm.astro";

const links = [
  {
    title: "Local Area",
    items: [
      {
        label: "Community Groups",
        href: "/area/groups",
        newWindow: false,
      },
      {
        label: "Local Events",
        href: "/area/events",
        newWindow: false,
      },
      {
        label: "Area Map",
        href: "/map",
        newWindow: false,
      },
      {
        label: "Fix My Street",
        href: "https://www.fixmystreet.com/reports/Bexley?zoom=16&lat=51.42392&lon=0.13952&status=open&sort=created-desc",
        newWindow: true,
      },
    ],
  },
  {
    title: "Residents Association",
    items: [
      {
        label: "News for residents",
        href: "/news",
        newWindow: false,
      },
      {
        label: "Articles",
        href: "/articles",
        newWindow: false,
      },
      {
        label: "About the association",
        href: "/association",
        newWindow: false,
      },
      {
        label: "Membership",
        href: "/membership",
        newWindow: false,
      },
    ],
  },
  {
    title: "Bexley Council",
    items: [
      {
        label: "Planning Applications",
        href: "https://pa.bexley.gov.uk/online-applications/search.do?action=simple&searchType=Application",
        newWindow: true,
      },
      {
        label: "Major Roadworks",
        href: "https://www.bexley.gov.uk/services/parking-transport-and-streets/major-roadworks/around-borough",
        newWindow: true,
      },
      {
        label: "Make a report",
        href: "https://www.bexley.gov.uk/directory#report",
        newWindow: true,
      },
      {
        label: "Borough Events",
        href: "https://www.bexley.gov.uk/events",
        newWindow: true,
      },
    ],
  },
];
---

<footer>
  <div
    class="py-3 bg-gray-50 dark:bg-cinder-700 border-solid border-0 border-t border-gray-200 dark:border-gray-800"
  >
    <Container>
      <PageFeedbackForm />
    </Container>
  </div>
  <div
    class="py-6 bg-gray-100 dark:bg-cinder-600 border-solid border-0 border-t border-gray-200 dark:border-gray-800"
  >
    <Container classes="grid sm:grid-cols-2 md:grid-cols-4 gap-4">
      {
        links.map(({ title, items }) => (
          <div>
            <h5 class="m-0 mb-3">{title}</h5>
            <ul class="list-none m-0 p-0 flex flex-col">
              {items.map(({ label, href, newWindow }) => (
                <li>
                  <a
                    href={href}
                    target={newWindow ? "_blank" : undefined}
                    rel={newWindow ? "noopener noreferrer" : undefined}
                    class="block py-1.5 nc-link nc-focus"
                  >
                    {label}
                    {newWindow && (
                      <ExternalLink class="inline ml-1.5" size={16} />
                    )}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </Container>
  </div>
</footer>
