---
import Section from "./Section.astro";

export interface Props {
  src: string;
  caption: string;
  margin?: boolean;
}
const { src, caption, margin = true } = Astro.props;
---

<Section margin={margin}>
  <figure
    class={`h-96 bg-[url(${src || `/27171_032.jpg`})] bg-cover bg-center relative`}
  >
    {
      caption && (
        <figcaption class="absolute bottom-0 right-0 bg-black text-white px-2 py-1 text-xs opacity-60">
          {caption}
        </figcaption>
      )
    }
  </figure>
</Section>
