---
export interface Props {
  label: string;
  value?: string;
  class?: string;
}

const { label, value = "", class: className } = Astro.props;
---

<div class:list={["font-display", className || ""]}>
  <div class="text-xs uppercase opacity-80">
    {label}
  </div>
  <div class="text-lg font-light">
    {value}
    <slot />
  </div>
</div>
