---
export interface Props {
  details: Array<{
    label: string;
    value: string;
    action?: {
      label: string;
      href: string;
    };
  }>;
}
const { details = [] } = Astro.props;
---

<div class="border-b border-gray-200 dark:border-gray-800">
  {
    details.map((d) => (
      <div class="gap-4 border-t border-gray-200 dark:border-gray-800 py-1">
        <div class="font-bold opacity-70 text-base md:text-lg">{d.label}</div>
        <div class="text-lg">{d.value}</div>
        {d.action && (
          <div class="">
            <a
              href={d.action.href}
              class="text-base nc-link nc-focus font-bold outline-none"
            >
              {d.action.label}
            </a>
          </div>
        )}
      </div>
    ))
  }
</div>
