---
export interface Props {
  class?: string;
  margin?: boolean;
}

const { class: className = "", margin = true } = Astro.props;
---

{
  margin ? (
    <section class:list={[`pt-10 md:pt-20`, className]}>
      <slot />
    </section>
  ) : (
    <section class={className}>
      <slot />
    </section>
  )
}
