---
export interface Props {
  items: { label: string; href: string; emoji?: string }[];
}
const { items } = Astro.props;
---

<nav class="lg:sticky top-0 pt-10 md:pt-20">
  <ul class="text-xl flex flex-col">
    {
      items.map((item) => (
        <li class="first:border-t border-b py-2 leading-loose border-gray-200 dark:border-gray-800">
          {item.emoji && <span class="inline-block mr-2">{item.emoji}</span>}
          {/* If the item has an image, display it */}
          <a href={item.href} class="nc-link nc-focus">
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
