---
export interface Props {
  items: { label: string; href: string }[];
}
const { items } = Astro.props;
---

<nav class="lg:sticky top-0 pt-10 md:pt-20">
  <ul class="text-xl flex flex-col">
    {
      items.map((item) => (
        <li class="first:border-t border-b py-2 leading-loose border-gray-300 dark:border-gray-700">
          <a href={item.href} class="nc-link nc-focus">
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
