---
import Container from "./Container.astro";
---

<header class="bg1">
  <div class="bg-sky-900 dark:bg-cinder-800 text-white relative">
    <Container classes="py-1">
      <div class="justify-between items-center flex gap-4">
        <div class="text-sm font-medium opacity-80 uppercase">NCRA</div>

        <div class="gap-2 hidden md:flex">
          <!--todo-->
        </div>
      </div>
    </Container>
  </div>
  <Container classes="justify-between items-center flex gap-4 my-2 md:my-8">
    <a
      href="/"
      class="no-underline px-4 -mx-4 gap-3 focus:bg-yellow-300 focus:text-black"
    >
      <div
        class="text-lg md:text-2xl flex gap-2 justify-center items-center uppercase"
      >
        <div class="leading-none">
          <div class="font-semibold">North Cray</div>
          <div class="font-normal">Residents Association</div>
        </div>
      </div>
    </a>
  </Container>
</header>
