---
import Container from "./Container.astro";
import AccountMenu from "./AccountMenu.astro";

export interface Props {
  isOpen?: boolean;
}

const { isOpen } = Astro.props;
---

<header id="top" class:list={[isOpen ? "bg2" : "bg1"]}>
  <div class="bg-sky-900 dark:bg-cinder-800 relative">
    <Container classes="text-white">
      <div
        class:list={[
          "justify-between items-center flex gap-4",
          isOpen ? "text-white" : "",
        ]}
      >
        <a
          class="nc-focus-outline text-sm font-medium uppercase text-inherit outline-offset-4"
          href="/src/pages/ra/about"
          title="North Cray Residents Association">NCRA</a
        >

        <AccountMenu isOpen={isOpen} server:defer />
      </div>
    </Container>
    {
      isOpen && (
        <div class="bg2 flex-grow">
          <slot />
        </div>
      )
    }
  </div>
  {
    !isOpen && (
      <Container classes="justify-between items-center sm:flex gap-4 hidden">
        <a
          href="/"
          class="no-underline px-4 -mx-4 gap-3 py-2 md:py-8 bg1 focus:bg-amber-300 focus:text-black"
        >
          <div class="text-lg md:text-2xl flex gap-2 justify-center items-center uppercase">
            <div class="leading-none">
              <div class="font-semibold">North Cray</div>
              <div class="font-normal" />
            </div>
          </div>
        </a>
      </Container>
    )
  }
</header>
