---
import Section from "./Section.astro";
import Container from "./Container.astro";
---

<Container>
  <Section>
    <h3 class="mb-2">Nearly there...</h3>
    <p class="mb-2">
      Sorry, we are still building this page. Please check back again later.
    </p>
    <p><a href="/">Go back</a></p>
  </Section>
</Container>
